.cont {
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    font-family: 'Karla';
    margin-top: 3%;
    margin-left: 14%;
}

.title {

    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
}

.banner {
    /* width: 793px;
    height: 680px; */
    width: 850px;
    height: 800px;
}

.sub {
    margin-top: 10%;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}

.btn {
    margin-top: 18%;
    background: #73D677;
    border: none;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    Width: 231px;
    Height: 66px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    /* Pharagraph */

    color: #212121;
}