.conteudo{
    background-color: #F5DB13;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    /* Pharagraph */

    color: #212121;
}